/*--------------------------------------------------------------------------------------------|
|	Project			Designers/Developers                                                      |
|---------------------------------------------------------------------------------------------|
|	Math Magician	Cheyenne von Kostka
|					Nicholas Kizer
|					Pablo Lomeli
|---------------------------------------------------------------------------------------------|
|	Date			Changes Made By			Changes											  |
|---------------------------------------------------------------------------------------------|
|   4.13.17			Cheyenne von Kostka		Changed link styles to be specified to the nav link.
|											Added float and display to help resonsiveness to nav links
|
|	4.14.17			Cheyenne von Kostka		Changed the char type for nav links
|					Nicholas Kizer			Seperated nav to save room and clean up page
|											Updated bg image to a free image
|											Enabled Boostrap | now using lists for nav
|
|	4.17.17			Nicholas Kizer			Cleaned up CSS
|											Added new ID's for better navigation styling
|---------------------------------------------------------------------------------------------|

/* SETS BODY BACKGROUND */
body {
    height: 500px;
    background-image: url(../images/f_images/ocean_bg_free.jpg);
    background-image: no-repeat;
    background-attachment: fixed;
	background-size: 100% 100%;
}

/* SETS SIZE AND POSITION OF NAV BAR -- PREVENTS VERTICAL ALIGN FROM LINKS BEING BLURRY */
/*
/* MATH SYMBOL NAV 
div#symbolNav {
    width: 44.25%;
    height: 30%;	
    border: 2px solid #0066ff;
    background-color: rgba(255,255,255,.7);
    margin-top: 7%;
    margin-left: 27%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
	/* DISPLAY */
	
}

	/* MATH SYMBOL NAV IMG LINKS 
	#symbolNav img {
		height: 5em;
		width: 5em;
		position: relative;
		top: 18%;
		transform: translateY(18%);
		-webkit-transform: translateY(18%);
		-ms-transform: translateY(18%);		
	}

/* 1-6 NAV 
div#nav1 {
	width: 40%;
	margin-left: 29%;
	/* DISPLAY 
	display: none;
}

/* 7-12 NAV 
div#nav2 {
	margin-top: 0;
	/* DISPLAY 
	display: none;
}

/* NAVIGATION LINKS 
/* SETS POSITION AND STYLING OF LINKS -- VERTICAL ALIGNMENT SAFE FOR IE9 
#nav1 li a, #nav2 li a {
    float: left; /* Helps with responsive
    display: block; /* Helps with responsive
    padding-top: .25em;
    padding-right: 1em;
    padding-bottom: .5em;
    padding-left: 1em;
    margin-left: 12px;
    position: relative;
    top: 18%;
    transform: translateY(18%);
    -webkit-transform: translateY(18%);
    -ms-transform: translateY(18%);
    border: 2px solid #0066ff;
    border-radius: 5px;
    background-color: #fff;
    color: #0066ff;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: 900;
}
*/

.formNav form{
	width: 44.25%;
    height: 30%; 
	border: 2px solid #0066ff;
    background-color: rgba(255,255,255,.7);
    margin-top: 7%;
    margin-left: 27%;	
}

/* SETS SIZE AND POSITION OF THE CONTAINER HOLDING MAIN CONTENT */
.content {
    width: 60%; 
    height: 100%;
    background-color: rgba(255, 255, 255, .7);
    margin-top: 5%;
    margin-left: 20%;
}

/* SETS ALIGNMENT OF SAMPLE TEXT */
p {
    text-align: center;
}

/* SETS STYLES FOR LINKS WHEN HOVERED BY CURSOR */
ul.nav li a:hover {
  border-radius: 5px;
  background-color: #0066ff;
  color: #fff;
}